	<%= render 'form' %>

	<%= link_to services_path, :class => "link-back-edit" do%>
		<span class="icon-reply"></span>
	<% end %>
	<%= link_to @service, :class => "link-show-edit" do%>
		<span class="icon-remove-red-eye"></span>
	<% end %> 
</section> 
</main>