<main id="cont-info-controllers">
  <section class="cont">
<p id="notice"><%= notice %></p>

	<p>
	  <strong>Tipo de camion:</strong>
	  <%= @truck.name %>
	</p>

	<%= link_to trucks_path, :class => "back-publication-show" do%>
      <span class="icon-reply"></span>
    <%end%>
    <%= link_to edit_truck_path(@truck), :class => "edit-publication-show" do%>
      <span class="icon-edit"></span>
    <%end%>
   
  </section>
</main>