<main id="competitors-publications">
    <h1>Participantes</h1>
    <section class="cont">    
        <% @competitors = Competitor.all %>
        <% for competitors in @competitors.where(publication_id: params['id']) %>
            <div class="data">
                <% @name = User.where(:id => competitors.user_id).first %>
                <h2><%= @name.first_name %></h2>
                <div>
                    <p><%=competitors.conform%> Conforme</p> 
                    <p>$<%=competitors.price %></p>
                </div>
                <a href="/drivers/<%=competitors.user_id %>">Ver Informacion</a>
            </div>
        <% end %>
    </section>
</main>