	<%= render 'form' %>
	<%= link_to publications_path, :class => "link-back-edit" do%>
		<span class="icon-reply"></span>
	<% end %>
	<%= link_to @publication, :class => "link-show-edit" do%>
		<span class="icon-remove-red-eye"></span>
	<% end %> 
  </section>
</main>