//Colores base
azul = #1E88E5 //provicional
azul_claro = #42A5F5
gris = #333333
gris_claro = #E6E6E6

// Colores alertas
verde = #21af7d
rojo = #DC303A

body
	background #E6E6E6
	margin 0
	padding 0
	font-size 16px
	font-family: 'Roboto', sans-serif;

#alert-success
	background white
	box-shadow 0px 0px 3px verde
	color verde
	font-size 1.1em
	position fixed
	bottom 1em
	left 1em
	padding 1em
	text-align center
	width 300px	
	
#alert-danger
	background white
	box-shadow 0px 0px 3px rojo
	color rojo
	font-size 1.1em
	position fixed
	bottom 1em
	left 1em
	padding 1em
	text-align center
	width 300px	

#container-home
	width 100%
	& .features
		background white
		padding 3em 0
		text-align center
		width 100%
		& figure
			display inline-block
			text-align center
			margin 0 3em
			max-width 180px
			& img
				width 100%
			& figcaption
				color azul
				font-size 1.3em
				margin-top 1em
	& .steps
		background azul
		padding 3em 0
		text-align center
		width 100%
		& figure
			display inline-block
			text-align center
			margin 0 3em
			max-width 180px
			& img
				width 100%
			& figcaption
				color white
				font-size 1.3em
				margin-top 1em
	
#home-header
	background url("header.jpg") center center
	background-repeat no-repeat
	background-attachment fixed
	height 275px
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
	width 100%
	text-align center
	padding 7% 0	

#menu-off
	background azul
	position relative
	width 100%
	& ul
		margin 0
		padding 0
		& .page-cont
			display inline-block
			margin-left 2em
			& a
				color white
				display inline-block
				text-decoration none
				padding 1.2em .8em
				& li
					list-style none
		& .show-actions-user
			float right
			padding .3em 2em
			& figure
				border 2px solid white
				border-radius 50%
				height 40px
				margin 0
				overflow hidden
				width 40px
				& img
					height 100%
					width 100%
		& .cont-actions-user
			display none
			background white
			position absolute
			right 2em
			top 4em
			&:after
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				width: 0px; 
				height: 0px;
				border:3px solid #FFFFFF;
				border-right-color:transparent;
				border-left-color:transparent;
				border-width:0px 10px 11px;
				position absolute
				top -.6em
				right .2em
				z-index 1000
			& a:nth-child(2n)
				border-top 1px solid azul
				border-bottom 1px solid azul
			& a
				color azul
				display block
				padding .7em 1em
				text-decoration none
				&:hover
					background #FAFAFA
				& li
					list-style none
		& .sessions-cont
			display inline-block
			margin-right 30px
			font-size 0em
			float right
			& .link_sign
				li
					background white
					border 2px solid white
					border-radius 5px 0 0 5px
					color azul
					padding 6px
			& .link_log
				li
					border 2px solid white
					border-radius 0 5px 5px 0
					color white
					padding 6px
			& a
				color white
				display inline-block
				text-decoration none
				padding 10px 0
				& li
					font-size 16px
					list-style none

#cont-forms-controllers
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 1em 0 2em 0
		position relative
		text-align center
		& .title-sign-in-user
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& form
			margin 0 auto
			max-width 900px
			& .cont_fields
				text-align left
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color azul
					display inline-block
					font-size 1.1em
				& input
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& textarea
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					font-size 1.1em
					height 150px
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .cont_remember
				text-align left
				margin .7em 1em
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
			& .submit-log-in-user
				background none
				border 2px solid azul
				border-radius .3em
				cursor pointer
				color azul
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 2em
				&:hover
					background azul
					color white
		& .link-back-edit
			color azul
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .4em
		& .link-show-edit
			color azul
			font-size 1.6em
			right .4em
			position absolute
			text-decoration none
			top .4em

#cont-info-controllers
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		box-sizing border-box
		max-width 1000px
		background white
		margin -10em auto 1em auto
		padding 2em
		position relative
		& p
			border-bottom 2px dotted azul
			padding   1em 0
			& strong
				color gris
		& .back-publication-show
			color azul
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .4em
		& .edit-publication-show
			color azul
			font-size 1.6em
			right .4em
			position absolute
			text-decoration none
			top .4em

#edit-user-cont
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		position relative
		text-align center
		& .link-back-edit-user
			color azul
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .5em
		& .title-edit-user
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& form
			margin 0 auto
			max-width 900px
			& .cont_fields
				text-align left
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color azul
					display inline-block
					font-size 1.1em
				& input
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .submit-edit-user
				background none
				border 2px solid azul
				border-radius .3em
				cursor pointer
				color azul
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 1em
				&:hover
					background azul
					color white
				
#create-user-cont
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		position relative
		text-align center
		& .link-back-edit-user
			color azul
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .5em
		& .title-edit-user
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& form
			margin 0 auto
			max-width 900px
			& .cont_fields
				text-align left
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color azul
					display inline-block
					font-size 1.1em
				& input
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& select
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					height 40px
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .submit-edit-user
				background none
				border 2px solid azul
				border-radius .3em
				cursor pointer
				color azul
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 1em
				&:hover
					background azul
					color white
			
#log-in-user-cont
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .title-sign-in-user
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& form
			margin 0 auto
			max-width 900px
			& .cont_fields
				text-align left
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color azul
					display inline-block
					font-size 1.1em
				& input
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color azul
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .cont_remember
				text-align left
				margin .7em 1em
				& label
					color azul
					display inline-block
					text-align left
					font-size 1.1em
			& .submit-log-in-user
				background none
				border 2px solid azul
				border-radius .3em
				cursor pointer
				color azul
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				&:hover
					background azul
					color white
				
#publications-cont
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .link-more-publication
			background white
			box-shadow 0px 0px 5px rgba(0, 0, 0, .4)
			border-radius 50%
			box-sizing border-box
			display block
			color azul
			font-size 3em
			height 80px
			margin 0 auto -1.5em auto
			text-decoration none
			text-align center
			width 80px
			& span
				display block
				line-height 80px
		& .title-publications
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& .publication 
			box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
			color azul
			display inline-block
			margin 1em
			max-width 460px
			position relative
			& .active-actions-pub
				cursor pointer
				font-size 1.9em
				right .2em
				position absolute
				top .2em
				width auto
				& .cont-actions-pub
					display none
					background white
					box-shadow 0px 0px 4px rgba(0, 0, 0, .4)
					box-sizing border-box
					font-size 16px
					position absolute
					top 0em
					right 1.5em
					width 100px
					& a
						color azul
						display block
						box-sizing border-box
						padding .5em
						text-decoration none
						width 100%
						&:nth-child(1)
							border-bottom 1px solid azul
			& div
				display inline-block
				margin .4em
				width 170px
				& h1
					font-size 1.4em
				& h2
					font-size 1.2em
				& h3
					font-size 1.4em
			& .link_go
				background azul
				display block 
				color white
				font-size 1.1em
				padding .6em 0
				text-decoration none
				width 100%

#services-cont
	border-top 15em solid azul_claro
	padding-bottom 10em
	height 100%
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .link-more-services
			background white
			box-shadow 0px 0px 5px rgba(0, 0, 0, .4)
			border-radius 50%
			box-sizing border-box
			display block
			color azul
			font-size 3em
			height 80px
			margin 0 auto -1.5em auto
			text-decoration none
			text-align center
			width 80px
			& span
				display block
				line-height 80px
		& .title-publications
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& .register
			background white
			box-shadow 0px 0px 3px rgba(0,0,0,0.4)
			margin 1em auto
			padding .5em 0
			width 90%
			& .name
				display inline-block
				color azul
				font-weight bold
				text-align left
				width 70%
			& .actions
				display inline-block
				& .link-action
					color azul
					text-decoration none
		
#notice
	position absolute
	








