//Colores base
amarillo = #ffdf00 //provicional
gris = #42444a
gris_claro = #E6E6E6

rojo_b = #E41A1D
rojo_b2 = #F74B57

verde_p = #90c695
// Colores alertas
verde = #21af7d
rojo = #DC303A

html, body 
    height 100%
    width 100%
    padding 0
    margin 0

body
	background #F3F3F3
	margin 0
	padding 0
	font: 300 16px/120% proxima-nova,sans-serif;
	font-size 16px
	font-family: proxima-nova,sans-serif;

main
	min-height 80%

#alert-success
	background white
	box-shadow 0px 0px 3px verde
	color verde
	font-size 1.1em
	position fixed
	bottom 1em
	left 1em
	padding 1em
	text-align center
	width 300px	
	
#alert-danger
	background white
	box-shadow 0px 0px 3px rojo
	color rojo
	font-size 1.1em
	position fixed
	bottom 1em
	left 1em
	padding 1em
	text-align center
	width 300px	

#container-home
	width 100%
	& .features
		background white
		padding 3em 0
		text-align center
		width 100%
		& figure
			cursor pointer
			display inline-block
			text-align center
			margin 0 3em
			max-width 180px
			position relative
			& .boxes-descriptions
				display none
				color white
				background amarillo
				position absolute
				top 0
				left 0
				padding 2em .3em 0 .3em
				height 150px
				width 100%
				.close-des
					cursor pointer
					position absolute
					right .3em
					top .3em
					font-size 1.3em
			& img
				width 100%
			& figcaption
				color amarillo
				font-size 1.3em
				margin-top 1em
	& .steps
		background rojo_b2
		padding 3em 0
		text-align center
		width 100%
		& figure
			display inline-block
			text-align center
			margin 0 3em
			max-width 180px
			position relative
			& .boxes-pasos
				display none
				color amarillo
				background white
				position absolute
				top 0
				left 0
				padding 3em .3em 0 .3em
				height 150px
				width 100%
				.close-des
					cursor pointer
					position absolute
					right .3em
					top .3em
					font-size 1.3em
			& img
				width 100%
			& figcaption
				color white
				font-size 1.3em
				margin-top 1em
	& .why
		background-attachment fixed
		background url('back_truck.jpg') no-repeat center center fixed
		background-position center
		background-repeat no-repeat
		background-size cover
		min-height 400px
		padding 1em 0
		width 100%
		& h1
			color white
			display block
			font: 300 16px/120% proxima-nova,sans-serif;
			font-size 3em
			text-align center
			text-shadow 1px 1px 2px rgba(0, 0, 0, .55)
			margin 0
			padding .5em 0
		& .cont
			margin .5em auto
			text-align center
			max-width 900px
			& .box
				display inline-block
				color white
				margin 1em
				max-width 400px
				text-shadow 2px 2px 2px rgba(0, 0, 0, .85)
				h2
					text-align center
				p
					text-align left
	& .register
		background verde_p
		padding 4em 0
		text-align center
		width 100%
		& h1
			color white
			font: 300 16px/120% proxima-nova,sans-serif;
			display block
			font-size 2.3em
			text-align center
			text-shadow 1px 1px 2px rgba(0, 0, 0, .55)
			margin 0 auto
			padding .5em 0
			max-width 500px
		& a
			border-radius .5em
			display block
			background #01090d
			color white
			padding 1.3em 1em
			text-decoration none
			margin 1em auto
			width 230px
	

#galeria
	margin 0 auto
	text-align center
	position relative
	width 100%
	& .btn-gl
		color #fff
		font-size 5em
		text-shadow 1px 1px 3px #000
		display inline-block
		height 72px
		vertical-align middle
		line-height 72px
		top 40%
		text-decoration none
		position absolute
		width 72px
		z-index 888
		&#siguiente
			right 35px
			&:hover
				right 25px
		&#anterior
			left 35px
			&:hover
				left 25px
	.galeria
		box-shadow 0px -2px 11px rgba(0, 0, 0, .50)
		vertical-align middle
		overflow hidden
		position relative
		width 100%
		margin 0 auto
		z-index 5
		& ul
			margin 0
			padding 0
			position relative
			& li
				float left
				font-size 25px
				list-style none
				line-height -160px
				overflow hidden
				position relative
				width 100vw
				& img
					display block
					height 100%
					width 100%

.bg-white
	background gris !important
	color amarillo !important

	

#menu-off
	background amarillo
	position relative
	width 100%
	& ul ol
		list-style none
		margin 0
		padding 0
	& .content
		list-style none
		margin 0
		padding 0
		& .page-cont
			display inline-block
			margin-left 2em
			margin-bottom -.2em
			& li:hover > ul
				display block
			& li 
				float left
				a
					color gris
					display block
					font-weight bold
					text-decoration none
					padding 1.5em .8em
					text-decoration none
					&:hover
						box-shadow inset 0 -6px 0 0  gris
				& ul
					box-shadow 0px 0px 3px rgba(0, 0, 0, .5)
					color amarillo
					display none
					background gris
					position absolute
					max-width 250px
					margin 0
					padding 0
					transition all 1s ease-in-out
					z-index 999
					&:after
						content: "";
						display: inline-block;
						vertical-align: middle;
						margin-right: 10px;
						width: 0px; 
						height: 0px;
						border:3px solid gris;
						border-right-color:transparent;
						border-left-color:transparent;
						border-width:0px 10px 11px;
						position absolute
						top -.7em
						left 1.1em
						z-index 999
					li
						display block
						list-style none
						width 100%
						&:nth-child(2)
							border-top 1px solid amarillo
							border-bottom 1px solid amarillo
						a
							color amarillo
							list-style none
							display block
							padding .6em .9em
							&:hover
								color gris
								background amarillo
		& .show-actions-user
			float right
			padding .3em 2em
			& figure
				border 2px solid white
				border-radius 50%
				height 40px
				margin 0
				overflow hidden
				width 40px
				& img
					height 100%
					width 100%
		& .cont-actions-user
			display none
			background gris
			position absolute
			right 2em
			top 4em
			z-index 10000000
			&:after
				content: "";
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				width: 0px; 
				height: 0px;
				border:3px solid #FFFFFF;
				border-right-color:transparent;
				border-left-color:transparent;
				border-width:0px 10px 11px;
				position absolute
				top -.6em
				right .2em
				z-index 1000
			& a:nth-child(2n)
				border-top 1px solid amarillo
				border-bottom 1px solid amarillo
			& a
				color amarillo
				display block
				padding .7em 1em
				text-decoration none
				&:hover
					background #FAFAFA
				& li
					list-style none
		& .sessions-cont
			display inline-block
			margin-right 30px
			font-size 0em
			float right
			& .link_sign
				li
					background gris
					border-bottom 4px solid #272727
					border-radius .5em
					font-weight bold
					color amarillo
					padding 12px 1.1em
					margin-right .5em
					&:hover
						background #3F4045
			& .link_log
				li
					border-radius 0 5px 5px 0
					color gris
					padding 6px
			& a
				color white
				display inline-block
				text-decoration none
				padding 10px 0
				& li
					font-size 16px
					list-style none

#cont-forms-controllers
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 800px
		background white
		margin -10em auto 1em auto
		padding 1em 0 2em 0
		position relative
		text-align center
		& .title-sign-in-user
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& form
			margin 0 auto
			max-width 700px
			& .boxes
				width 100%
				& ul
					& li
						background white
						box-shadow 0px 0px 1px rgba(0, 0, 0, .35)
						list-style none
						display inline-block
						padding .4em 1em
						margin 1em
				& div
					background white
					box-shadow 0px 0px 1px rgba(0, 0, 0, .35)
					list-style none
					display inline-block
					padding .8em 1em
					margin 1em
					width 200px
			& .cont_fields
				text-align left
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color gris
					display inline-block
					font-size 1.1em
				& input
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color gris
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& textarea
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color gris
					font-size 1.1em
					height 150px
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .cont_remember
				text-align left
				margin .7em 1em
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
			& .submit-log-in-user
				background none
				border 2px solid gris
				border-radius .3em
				cursor pointer
				color gris
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 2em
				&:hover
					background gris
					color white
		& .link-back-edit
			color gris
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .4em
		& .link-show-edit
			color gris
			font-size 1.6em
			right .4em
			position absolute
			text-decoration none
			top .4em

#cont-info-controllers
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		box-sizing border-box
		max-width 1000px
		background white
		margin -10em auto 1em auto
		padding 2em
		position relative
		& p
			border-bottom 2px dotted amarillo
			padding   1em 0
			& strong
				color gris
		& .back-publication-show
			color amarillo
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .4em
		& .edit-publication-show
			color amarillo
			font-size 1.6em
			right .4em
			position absolute
			text-decoration none
			top .4em

#edit-user-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		border-radius .5em
		max-width 700px
		background white
		margin -5em auto 1em auto
		padding 120px 0 2em 0
		position relative
		text-align center
		& .link-back-edit-user
			color gris
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .5em
		& figure
			border-radius 50%
			border 3px solid gris
			background white
			line-height: 21;
			height 200px
			position absolute
			left 0
			right 0
			top -100px
			margin 0 auto
			width 200px
			& img
				line-height 200px
				width 120px
		& form
			margin 0 auto
			max-width 600px
			& .cont_fields
				text-align left
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color amarillo
					display inline-block
					font-size 1.1em
				& input
					background white
					border 1px solid #999
					border-radius .25em
					box-sizing border-box
					color gris
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& select
					background white
					border 1px solid #999
					border-radius .25em
					box-sizing border-box
					color gris
					height 40px
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& textarea
					background white
					border 2px solid #999
					border-radius .4em
					box-sizing border-box
					color gris
					font-size 1.1em
					height 150px
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& fieldset
				text-align left
				margin 1.5em 0
				padding 1em
				& div
					display inline-block
					background #F5F5F5
					padding .3em .5em
					margin .3em .5em
			& .submit-edit-user
				border none 
				outline none
				background gris
				border-bottom 5px solid #272727
				border-radius .3em
				cursor pointer
				color amarillo
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 1em
				&:hover
					background #3F4045



.alert-registration
	background white
	box-shadow 0px 0px 3px rgba(0, 0, 0, .35)
	border-radius .5em
	position fixed
	left 1em
	top 6em
	overflow hidden
	width 300px
	z-index 10000
	& .close-recomend
		cursor pointer
		color white
		position absolute
		top .1em
		right .3em
		font-size 1.3em
	& h1
		color white
		background #D82F4A
		text-align center
		margin 0
		padding .3em 0
		width 100%
	& p
		color #4A4A4A
		padding .5em 1.5em
	& .register
		display block
		background #D82F4A
		color white
		text-decoration none
		text-align center
		padding .5em 1em
				
#create-user-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		border-radius .5em
		max-width 600px
		background white
		margin -5em auto 1em auto
		padding 120px 0 2em 0
		position relative
		text-align center
		& .link-back-edit-user
			color amarillo
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .5em
		& figure
			border-radius 50%
			border 3px solid gris
			background white
			line-height: 21;
			height 200px
			position absolute
			left 0
			right 0
			top -100px
			margin 0 auto
			width 200px
			& img
				line-height 200px
				width 120px
		& form
			margin 0 auto
			max-width 500px
			& .cont_fields
				text-align left
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color amarillo
					display inline-block
					font-size 1.1em
				& input
					background white
					border 1px solid #999
					border-radius .25em
					box-sizing border-box
					color gris
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
				& select
					background white
					border 1px solid #999
					border-radius .25em
					box-sizing border-box
					color gris
					height 40px
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .submit-edit-user
				border none 
				outline none
				background gris
				border-bottom 5px solid #272727
				border-radius .3em
				cursor pointer
				color amarillo
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 1em
				&:hover
					background #3F4045
			
#log-in-user-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		border-radius .5em
		max-width 600px
		background white
		margin -5em auto 1em auto
		padding 120px 0 2em 0
		position relative
		text-align center
		& .link-back-edit-user
			color amarillo
			font-size 1.6em
			left .4em
			position absolute
			text-decoration none
			top .5em
		& figure
			border-radius 50%
			border 3px solid gris
			background white
			line-height: 21;
			height 200px
			position absolute
			left 0
			right 0
			top -100px
			margin 0 auto
			width 200px
			& img
				line-height 200px
				width 120px
		& form
			margin 0 auto
			max-width 500px
			& .cont_fields
				text-align left
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
					margin-top 1em
					margin-left 1em
				& a
					color amarillo
					display inline-block
					font-size 1.1em
				& input
					background white
					border 1px solid #999
					border-radius .25em
					box-sizing border-box
					color gris
					font-size 1.1em
					outline none
					margin .5em 0
					padding .4em .5em
					width 100%
			& .cont_remember
				text-align left
				margin .7em 1em
				& label
					color gris
					display inline-block
					text-align left
					font-size 1.1em
			& .submit-log-in-user
				border none 
				outline none
				background gris
				border-bottom 5px solid #272727
				border-radius .3em
				cursor pointer
				color amarillo
				font-size 1.1em
				padding .4em 1.4em
				transition all .5s ease
				margin-top 1em
				&:hover
					background #3F4045
				
#publications-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .link-more-publication
			background gris
			box-shadow 0px 0px 5px rgba(0, 0, 0, .4)
			border-radius 50%
			box-sizing border-box
			display block
			color amarillo
			font-size 3em
			height 80px
			margin 0 auto -1.5em auto
			text-decoration none
			text-align center
			width 80px
			& span
				display block
				line-height 80px
		& .title-publications
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& .publication 
			box-shadow 0px 0px 5px rgba(0, 0, 0, .75)
			color gris
			display inline-block
			margin 1em
			max-width 460px
			padding 3em 0 0 0
			position relative
			& .activate-publication
				color white
				box-shadow 1px -1px 2px rgba(0, 0, 0, .45)
				position absolute
				top 0
				left 0
				background #00D76B
				padding 1em 0
				text-align center
				width 100%
			& .desactivate-publication
				color white
				box-shadow 1px -1px 2px rgba(0, 0, 0, .45)
				position absolute
				top 0
				left 0
				background rojo
				padding 1em 0
				text-align center
				width 100%
			& .active-actions-pub
				color white
				cursor pointer
				font-size 1.9em
				right .2em
				position absolute
				top -.1em
				width auto
				& .cont-actions-pub
					display none
					background white
					box-shadow 0px 0px 4px rgba(0, 0, 0, .4)
					box-sizing border-box
					font-size 16px
					position absolute
					top 0em
					right 1.5em
					width 100px
					& a
						color amarillo
						display block
						box-sizing border-box
						padding .5em
						text-decoration none
						width 100%
						&:nth-child(1)
							border-bottom 1px solid amarillo
						&:nth-child(3)
							border-top 1px solid amarillo
			& .conform
				display block !important
				margin .5em 0 !important
				width 100% !important
				& h1
					background #E83939
					color white 
					padding .7em 0
					margin .3em 0
				& .content-tags
					color #4D4D4D
					width 100%
					& p
						display block
						margin .7em 0
						padding .4em 0
						width 100%
						& input[type="number"]
							margin 0 auto
							padding .5em
							border none
							border 1.5px solid #4D4D4D
							color #4D4D4D
							font-size 1.1em
							width 70% 
					& .form-ocult
						display none
					& input[type="submit"]
						background verde
						border none
						border-bottom 5px solid #028A5A
						outline none
						display block
						color white
						font-size 1.1em
						padding .6em 0
						text-decoration none
						margin 0 auto 1.5em auto
						width 250px
			& div
				display inline-block
				margin .4em
				width 170px
				& h1
					font-size 1.4em
				& h2
					font-size 1.2em
				& h3
					font-size 1.4em
			& .link_go
				background gris
				display block 
				color amarillo
				font-size 1.1em
				padding .6em 0
				text-decoration none
				width 100%

#services-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 700px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .link-more-services
			background white
			box-shadow 0px 0px 5px rgba(0, 0, 0, .4)
			border-radius 50%
			box-sizing border-box
			display block
			color gris
			font-size 3em
			height 80px
			margin 0 auto -1.5em auto
			text-decoration none
			text-align center
			width 80px
			& span
				display block
				line-height 80px
		& .title-publications
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& .register
			background white
			box-shadow 0px 0px 3px rgba(0,0,0,0.4)
			margin 1em auto
			padding .5em 0
			width 90%
			& .name
				display inline-block
				color gris
				font-weight bold
				text-align left
				width 70%
			& .actions
				display inline-block
				& .link-action
					color gris
					text-decoration none
					
.assign
	border-top 1px solid amarillo

.br-left
	border-left 1px solid amarillo

#clients-cont
	border-top 15em solid gris
	padding-bottom 10em
	width 100%
	& .cont
		box-shadow 0px 0px 10px rgba(0, 0, 0, .4)
		max-width 1100px
		background white
		margin -10em auto 1em auto
		padding 0 0 2em 0
		text-align center
		& .title-publications
			background gris_claro
			color gris
			font-size 1.6em
			margin 0 0 1em 0
			padding .5em 0
			width 100%
		& .register
			cursor pointer
			background white
			box-shadow 0px 1px 3px rgba(0,0,0,0.4)
			margin .5em auto
			padding .1em 0
			width 90%
			&:hover
				background #FAFAFA
			& .data
				display inline-block
				color gris
				font-weight bold
				text-align left
				width 95%
				& .number
					width 8%		
				& p
					display inline-block
					width 35%
					&:nth-child(2)
						width 25%
					&:nth-child(4)
						width 20%
					& a
						color gris
						text-decoration none
			& .plus
				display none
				border-top 2px solid gris
				color gris
				width 100%
				& .basic
					width 100%
					& p
						text-align left
						display inline-block
						width 30%
				& .services
					padding .4em 0
					display -webkit-box
					display -moz-box
					display -ms-flexbox
					display -webkit-flex
					display flex
					-webkit-flex-flow row wrap
					text-align center
					width 100%
					& div
						text-align left
						margin 1em
						min-width 290px
						max-width 300px
		& .no-red
			color #fff !important
			background #D82F4A !important
			& .data
				color #fff !important
			& .plus
				border-top 2px solid white
				color #fff !important
				& p a
					color #fff !important
			

#cortina
	display none
	background rgba(0,0,0,0.6)
	height 100%
	position fixed
	top 0
	left 0
	width 100%
	z-index 1000
	

#politicas
	display none
	background white
	border-radius .5em
	max-width 1000px
	height 90%
	position absolute
	font-size .8em
	top 0
	left 0
	right 0
	margin 3em auto
	overflow auto
	padding 2em
	width 100%
	z-index 10000
	& .close
		color rojo
		position absolute
		top 1em
		right 1em
		font-size 2em
	& h1, h2, h3, h4
		color rojo
		font-size 1em
	& p
		font-size .8em
	& ul li
		font-size .8em
		
#terminos
	display none
	background white
	border-radius .5em
	max-width 1000px
	height 90%
	position absolute
	font-size .8em
	top 0
	left 0
	right 0
	margin 3em auto
	overflow auto
	padding 2em
	width 100%
	z-index 10000
	& .close
		color rojo
		position absolute
		top 1em
		right 1em
		font-size 2em
	& h1, h2, h3, h4
		color rojo
		font-size 1em
	& p
		font-size .8em
	& ul li
		font-size .8em


#nosotros
	display none
	box-shadow 0px 0px 7px rgba(0, 0, 0, .75)
	background white
	max-width 1000px
	min-height 300px
	position absolute
	font-size 1.1em
	top 0
	left 0
	right 0
	margin 7em auto 2em auto
	overflow hidden
	width 100%
	text-align center
	z-index 10000
	& .sub-menu
		width 100%
		& h1
			color #c3c2b9
			cursor pointer
			background #F8F7EE 
			display inline-block
			font-size 1.2em
			margin 0
			padding 1em 0
			width 50%
			&:hover
				background #f3f2e8
		& #l-link
			background white
			color #000
			box-shadow inset 0 6px 0 0 rojo
			&:hover
				background #fff
	& p
		color amarillo
		letter-spacing 1px
	& .mision
		margin 1.5em 2em
		padding 2em 0
		text-align left
	& .vision
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left
		

#contacto
	display none
	box-shadow 0px 0px 7px rgba(0, 0, 0, .75)
	background white
	max-width 700px
	min-height 300px
	position absolute
	font-size 1.1em
	top 0
	left 0
	right 0
	margin 7em auto 2em auto
	overflow hidden
	width 100%
	text-align center
	z-index 10000
	& .sub-menu
		width 100%
		& h1
			color #c3c2b9
			cursor pointer
			background #F8F7EE 
			display inline-block
			font-size 1.2em
			margin 0
			padding 1em 0
			width 33%
			&:hover
				background #f3f2e8
		& #l-link
			background white
			color #000
			box-shadow inset 0 6px 0 0 rojo
			&:hover
				background #fff
	& p
		color amarillo
		letter-spacing 1px
		font-size 1.1em
		& span
			display block
			margin 1em 0
	& .telefonos
		margin 1.5em 2em
		padding 2em 0
		text-align left
	& .email
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left
	& .direccion
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left
		overflow hidden
		& b
			float left
			margin 1em 0
			max-width 300px
			& iframe
				width 100% !important
				
#ayuda
	display none
	box-shadow 0px 0px 7px rgba(0, 0, 0, .75)
	background white
	max-width 900px
	min-height 300px
	position absolute
	font-size 1.1em
	top 0
	left 0
	right 0
	margin 7em auto 2em auto
	overflow hidden
	width 100%
	text-align center
	z-index 10000
	& .sub-menu
		width 100%
		& h1
			color #c3c2b9
			cursor pointer
			background #F8F7EE 
			display inline-block
			font-size 1.2em
			margin 0
			padding 1em 0
			width 33.33%
			&:hover
				background #f3f2e8
		& #l-link
			background white
			color #000
			box-shadow inset 0 6px 0 0 rojo
			&:hover
				background #fff
	& p
		color amarillo
		letter-spacing 1px
		font-size 1.1em
		& span
			display block
			margin 1em 0
	& .quejas
		margin 1.5em 2em
		padding 2em 0
		text-align left
	& .sugerencias
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left
	& .soporte
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left
		overflow hidden


#comof
	display none
	box-shadow 0px 0px 7px rgba(0, 0, 0, .75)
	background white
	max-width 1000px
	min-height 300px
	position absolute
	font-size 1.1em
	top 0
	left 0
	right 0
	margin 7em auto 2em auto
	overflow hidden
	width 100%
	text-align center
	z-index 10000
	& .sub-menu
		width 100%
		& h1
			color #c3c2b9
			cursor pointer
			background #F8F7EE 
			display inline-block
			font-size 1.2em
			margin 0
			padding 1em 0
			width 50%
			&:hover
				background #f3f2e8
		& #l-link
			background white
			color #000
			box-shadow inset 0 6px 0 0 rojo
			&:hover
				background #fff
	& p
		color amarillo
		letter-spacing 1px
	& .transportista
		margin 1.5em 2em
		padding 2em 0
		text-align left
		span
			display block
			margin-top 1.3em
	& .clientes
		display none
		margin 1.5em 2em
		padding 2em 0
		text-align left

footer
	display inline-block
	background gris
	color white
	padding 1em 0 2em 0
	width 100%
	& a
		text-decoration none
	& .cont
		max-width 1000px
		margin 0 auto
		text-align center
		& .menu
			padding 1em 0 .5em 0
			width 100%
			& .right-slide::after
				content: '/';
				padding: 0 19px;
				color: #fff
			& p
				display inline-block
				& a
					color white
		& .social
			margin .5em 0
			width 100%
			& a
				background white
				border-radius 50%
				display inline-block
				margin 0 .6em
				height 30px
				text-align center
				transition all .25s ease
				width 30px
				&:hover
					box-shadow 0px 0px 5px white
				& span
					color amarillo_negro
					font-size 1em
					line-height 30px
		& .copy
			margin-top .5em
			& p
				margin 0
				font-size .8em
		& .rules
			width 100%
			& .right-slide::after
				content: '|';
				padding: 0 4px;
				color: #fff
			& p
				display inline-block
				margin .2em 0
				& a
					color white
					font-size .6em
					padding 0	



#notice
	position absolute
	








