<section id="about">
	<h1 class="title">
		Sobre FleteTodo
	</h1>
	<article class="vision">
		<div class="content">
			<h1>Vision</h1>
			<p>Ser reconocidos a nivel no solo nacional si no a nivel internacional como una empresa que ofrece servicios económicos, de calidad, confianza y rapidez con precios únicos en su ramo.</p>
		</div>
	</article>
	<article class="mision">
		<div class="content">
			<h1>Mision</h1>
			<p>Fletetodo.com tiene como misión la prestación de servicios de transporte de  carga a nivel Nacional, buscando siempre satisfacer las necesidades de nuestros clientes, haciendo una conexión entre cliente y transportista, cumpliendo sin demoras con cada entrega y asegurándonos que la mercancía de nuestros clientes llegue siempre de manera segura, confiable y oportuna, para así seguir creciendo en nuestra cartera de clientes satisfechos.</p>
		</div>
	</article>
	<article class="description">
		<div class="content">
			<h1>Sobre nuestra empresa</h1>
			<p>Flete todo es una empresa de innovación logística que se encarga de ofrecer a sus clientes servicio de clase mundial a muy bajo costo en transporte de carga a nivel nacional, contando con afiliados de gran renombre en el ramo del transporte poniendo sus unidades a nuestra disposición y así poder ofrecer a nuestros clientes una cobertura casi  total de la república mexicana.</p>
			<p>Somos una empresa de solución emergente a tu empresa, pues al no contar en determinado momento con tu proveedor primario siempre estaremos nosotros para solucionar tu problema de  transporte y ayudarte a mantener una buena imagen con tu cartera de clientes además de darte más cobertura nacional.</p>
			<p>Contamos con los precios más competitivos en todo el país, contamos con especialistas en el ramo, hacemos que tu carga llegue completa, a tiempo y segura .  Imagínate más de 5000 unidades puestas a tu servicio en todo el territorio nacional y unidades listas para ti, solo llena tu perfil, déjanos saber el precio que estás dispuesto a pagar  por tu servicio y nosotros nos encargamos del resto.</p>
			<p>No esperes mas ven y disfruta de los beneficios de ser parte de la comunidad fletetodo y lo mejor de todo que es totalmente gratis.</p>
		</div>
	</article>
</section>