<section id="cobertura">
	<h1 class="title">
		Nuestra Cobertura
	</h1>
	<article class="map">
		<figure>
			<%= image_tag "mapa.png" %>
		</figure>
		<div class="estates">
			<p></p>
		</div>
	</article>	
</section>